html, 
body {
    height: 100%;
  width:100%;  

}
a {
text-decoration: none;
color: unset;
}

#root {
  height: 100%;
  width:100%;

}

#chat:first-child {  
 margin-top: auto;

}
.chatbox{ 
  border: 2px solid #74BDE0;
  border-radius: 15px;
  margin: 5px 0px;
  padding: 13px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #74BDE0;
  font-family: 'Open Sans', sans-serif;
}

.me.chatbox{
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.container{
  display: flex;
  font-family: 'Open Sans', sans-serif;
  margin-left: 3%;
}

.container.me{
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Open Sans', sans-serif;
  margin-right: 3%;

}
.btm{
  position: fixed;
  width: 90%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  margin-bottom: 10px;
  background-color: aliceblue;
}
.btm input{
font-family: 'Open Sans', sans-serif;
font-size: medium;
background-color: #fff;

}
.btm button{
  margin-left: 3%;
  padding: 17px 15px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;

}
.chat-container{
  height: 70vh;
  overflow-y: scroll;
  background-color: #FFF;


}